<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".db.MusicDB"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoanBanHang"
        tools:targetApi="31">
        <activity
            android:name=".SearchProcActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.ChiTietSanPham.AllProcActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.ChiTietSanPham.LaptopActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.ChiTietSanPham.HeadphoneActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.ChiTietSanPham.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.ChiTietSanPham.PCActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".List.ListDonHang"
            android:exported="false" />
        <activity
            android:name=".List.ListNhaCungCapActivity"
            android:exported="false" />
        <activity
            android:name=".List.ListDanhMucActivity"
            android:exported="false" />
        <activity
            android:name=".List.ListSanPham"
            android:exported="false" />
        <activity
            android:name=".List.ListNguoidung"
            android:exported="false" />
        <activity
            android:name=".Activity.AddSpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Quanli.Quanlidonhang"
            android:exported="false" />
        <activity
            android:name=".Quanli.Quanlidanhmuchang"
            android:exported="false" />
        <activity
            android:name=".Quanli.QuanlidoanhthuActivity"
            android:exported="false" />
        <activity
            android:name=".Quanli.Quanlinguoidung"
            android:exported="false" />
        <activity
            android:name=".Quanli.Quanlinhacungcap"
            android:exported="false" />
        <activity
            android:name=".Quanli.Quanlisanpham"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity2"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>